USE RecreationOutlet_Test1
GO

/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Position] [varchar](20) NOT NULL,
	[Username] [varchar](10) NOT NULL,
	[PIN] [nchar](4) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EVENT_TYPE]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EVENT_TYPE](
	[EventTypeCode] [tinyint] IDENTITY(1,1) NOT NULL,
	[EventDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EVENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[EventTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVENTORY]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY](
	[StoreID] [tinyint] NOT NULL,
	[RecID] [int] NOT NULL,
	[QtyOnHand] [smallint] NOT NULL,
	[QtyThreshold] [smallint] NOT NULL,
 CONSTRAINT [PK_INVENTORY] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC,
	[RecID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITEM]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITEM](
	[RecRPC] [bigint] NOT NULL,
	[ItemUPC] [bigint] NULL,
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductLineID] [int] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[SeasonCode] [varchar](20) NULL,
	[CategoryID] [tinyint] NOT NULL,
	[DepartmentID] [tinyint] NOT NULL,
	[RestrictedAge] [tinyint] NULL,
	[CreatedBy] [smallint] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[LegacyID] [smallint] NULL,
	[MSRP] [money] NULL,
	[SellPrice] [money] NOT NULL,
	[TaxRateID] [tinyint] NOT NULL,
 CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[RecRPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOCATION](
	[StoreID] [tinyint] IDENTITY(1,1) NOT NULL,
	[StoreName] [varchar](25) NOT NULL,
	[ManagerId] [smallint] NOT NULL,
 CONSTRAINT [PK_LOCATION] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OVERRIDE_CODE]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OVERRIDE_CODE](
	[OverrideCode] [tinyint] NOT NULL,
	[OverrideReason] [varchar](20) NOT NULL,
 CONSTRAINT [PK_OVERRIDE_CODE] PRIMARY KEY CLUSTERED 
(
	[OverrideCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentID] [smallint] IDENTITY(1,1) NOT NULL,
	[PaymentTypeID] [tinyint] NOT NULL,
	[StoreID] [tinyint] NOT NULL,
	[PaymentAmount] [smallmoney] NOT NULL,
 CONSTRAINT [PK_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC,
	[PaymentID] ASC,
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAYMENT_TYPE]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAYMENT_TYPE](
	[PaymentTypeID] [tinyint] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PAYMENT_TYPE] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REFUND_CODE]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REFUND_CODE](
	[RefundCode] [tinyint] NOT NULL,
	[RefundReason] [varchar](20) NOT NULL,
 CONSTRAINT [PK_REFUND_CODE] PRIMARY KEY CLUSTERED 
(
	[RefundCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALE_PRICING]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALE_PRICING](
	[EventTypeCode] [tinyint] NOT NULL,
	[RecRPC] [bigint] NOT NULL,
	[SalePrice] [smallmoney] NOT NULL,
	[BeginDate] [date] NULL,
	[EndDate] [date] NULL,
	[Comments] [varchar](50) NULL,
 CONSTRAINT [PK_SALE_PRICING] PRIMARY KEY CLUSTERED 
(
	[EventTypeCode] ASC,
	[RecRPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STORE_TRANSACTION]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STORE_TRANSACTION](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [tinyint] NOT NULL,
	[EmployeeID] [smallint] NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TerminalID] [varchar](16) NOT NULL,
	[TransTotal] [money] NOT NULL,
	[TransTax] [money] NOT NULL,
	[ManagerID] [int] NULL,
	[PaymentType] [varchar](10) NOT NULL,
	[PreviousTransactionID] [int] NOT NULL,
 CONSTRAINT [PK_STORE_TRANSACTION] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC,
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAX_RATE]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAX_RATE](
	[TaxRateID] [tinyint] IDENTITY(1,1) NOT NULL,
	[TaxRateType] [varchar](10) NOT NULL,
	[TaxRate] [decimal](5, 3) NOT NULL,
 CONSTRAINT [PK_TAX_RATE] PRIMARY KEY CLUSTERED 
(
	[TaxRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACTION_LINE_ITEM]    Script Date: 10/12/2013 10:39:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACTION_LINE_ITEM](
	[TransactionLineItemID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[StoreID] [tinyint] NOT NULL,
	[RecID] [int] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[SaleEach] [money] NOT NULL,
	[CommissionEmployeeID] [smallint] NOT NULL,
	[OverrideCode] [int] NULL,
	[RefundCode] [int] NULL,
 CONSTRAINT [PK_TRANSACTION_LINE_ITEM] PRIMARY KEY CLUSTERED 
(
	[TransactionLineItemID] ASC,
	[TransactionID] ASC,
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[INVENTORY]  WITH CHECK ADD  CONSTRAINT [FK_INVENTORY_LOCATION] FOREIGN KEY([StoreID])
REFERENCES [dbo].[LOCATION] ([StoreID])
GO
ALTER TABLE [dbo].[INVENTORY] CHECK CONSTRAINT [FK_INVENTORY_LOCATION]
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD  CONSTRAINT [FK_LOCATION_EMPLOYEE] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeId])
GO
ALTER TABLE [dbo].[LOCATION] CHECK CONSTRAINT [FK_LOCATION_EMPLOYEE]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_LOCATION] FOREIGN KEY([StoreID])
REFERENCES [dbo].[LOCATION] ([StoreID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_PAYMENT_LOCATION]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENT_PAYMENT_TYPE] FOREIGN KEY([PaymentTypeID])
REFERENCES [dbo].[PAYMENT_TYPE] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK_PAYMENT_PAYMENT_TYPE]
GO
ALTER TABLE [dbo].[TRANSACTION_LINE_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACTION_LINE_ITEM_STORE_TRANSACTION] FOREIGN KEY([TransactionID], [StoreID])
REFERENCES [dbo].[STORE_TRANSACTION] ([TransactionID], [StoreID])
GO
ALTER TABLE [dbo].[TRANSACTION_LINE_ITEM] CHECK CONSTRAINT [FK_TRANSACTION_LINE_ITEM_STORE_TRANSACTION]
GO
USE [master]
GO
