html {
    background-color: #e2e2e2;
}

body {
    background-color: #fff;
    font-family: "Segoe UI", Verdana, Helvetica, sans-serif;
}

header {
    display: block;
}

.title-wrapper {
    border-bottom: 3px solid #808080;
}

.footer-wrapper {
    border-top: 3px solid #808080;
}

.center-text {
    text-align: center;
}

.center-element {
    width: 75%;
    margin: 0 auto;
}
    
#site-main-title {
    font-size: 36px;
}

/* main 
----------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}
#body {
    background-color: #efeeef;
}

table {

}

tr {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}

.button-columns {
    margin: 0 auto;
    padding: 10px;
    width:100%;
}

.main-menu-button {
    text-decoration:none;
    color:black;
    border:2px solid black;
    padding:25px;
    margin: 10px;
    min-width:250px;
}
    .main-menu-button:hover {
        background-color:#2f2f2f;
        color:#fff;
    }
.tab-subheader {
    background-color: white;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.nav {
    list-style: none;
    border-bottom: 1px solid black;
    padding: 10px 10px 0 10px;
}

    .nav li {
        display: inline;
    }

        .nav li.active a { /*The selected tab*/
	        position: relative;
	        z-index: 1; 
	        bottom: -2px;
	        margin-top: -2px;
	        background: #eee;
	        padding-top: 8px;
	        padding-bottom: 8px;
        }

        .nav li a { 
	        display: block;
	        float: left; 
	        text-decoration: none;
	        position: relative;
	
	        padding: 7px 50px; 
	        margin: 0 0 0 -8px; 
	        color: #222;
	        background: #d8d7d8; 

	        -webkit-border-top-right-radius: 20px 40px;
	        -webkit-border-top-left-radius: 20px 40px;
	        -moz-border-radius-topleft: 20px 40px;
	        -moz-border-radius-topright: 20px 40px;
	
	        -webkit-box-shadow: inset 1px 1px 0 white;
	        -moz-box-shadow: inset 1px 1px 0 white;
	
	        border: 1px solid #a0a0a0;
	        border-bottom: 0;
        }


.no-list {
    list-style: none;
}
    .no-list li {
        display: inline;
    }

.successful-insert {
    font-weight:bold;
    color:green;
}
/*Errors and Validation
----------------------------------------------------------*/
.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.required {
    color: red;
}

.VendorState {
    width: 25px;
}
.VendorZip {
    width: 50px;
}
.VendorPhone {
    width: 100px;
}
.VendorWebSite {
    width: 350px;
}

/* Styles to test new editor and display templates.
----------------------------------------------------------*/
.loud-1 {
    font-weight: bold;
    color: Red;
}
.loud-2 {
    font-size:  2.0em;
    color:Green;
}
.loud-3 {
    font-style: italic;
    color: yellow;
    background-color: blue;
}
#SuccessMessage {
    color: green;
    font-weight: bold;
    font-size: 1.1em;
}

/*End test styles*/