html {
    background-color: #8C7456;
}

body {
    background-color: #594A36;
    padding-top:15px;
    color: #011C26;
    font-family: "Segoe UI", Verdana, Helvetica, sans-serif;
}

header {
    display: block;
}

.title-wrapper {
    border-bottom: 3px solid #E8A720;
}

.footer-wrapper {
    border-bottom: 5px solid #E8A720;
}

.center-text {
    text-align: center;
}

.center-element {
    width: 75%;
    margin: 0 auto;
}
    
#site-main-title {
    font-size: 36px;
}

#logo-link {
    padding: 40px;
}

/* main 
----------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

#body {
    background-color: #978166;
    padding: 1px 20px 20px 20px;
    margin: 0px 15px;
    margin-top: 10px;
    border-radius: 5px;
}

table {

}

tr {
    /*border: 1px solid black;*/
}
td {
    /*border: 1px solid black;*/
}

h2 {
    font-family: 'Helvetica';
    font-weight: bold;
    color:#011C26;
    border-bottom: 2px solid #F2F2F2;
}

.button-columns {
    margin: 0 auto;
    padding: 10px;
    /*width:100%;*/
    width:75%;
}

.button {
    border: hidden;
    color: #F2F2F2;
    background-color:#262626;
    min-width:100px;
    min-height:30px;
    white-space:normal;
    margin-right:20px;
}
    .button:hover {
        color:#262626;
        background-color:#E8A720;
        font-weight: 500;
    }

.main-menu-button {
    text-decoration:none;
    border: hidden;
    color: #F2F2F2;
    background-color:#262626;
    font-weight: 500;
    padding: 0px 50px;
    margin: 10px;
    min-width:300px;
    min-height:50px;
    white-space:normal;
    /*border-radius:5px;*/
}
    .main-menu-button:hover {
        color:#262626;
        background-color:#E8A720;
        font-weight: 500;
    }

.tab-subheader {
    background-color: #978166;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.nav {
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px 10px 0 10px;
}

    .nav li {
        display: inline;
    }

        .nav li.active a { /*The selected tab*/
	        position: relative;
	        z-index: 1; 
	        bottom: -2px;
	        margin-top: -2px;
	        background: #978166;
	        padding-top: 8px;
	        padding-bottom: 8px;
            color:#011C26;
        }

        .nav li a { 
	        display: block;
	        float: left; 
	        text-decoration: none;
	        position: relative;
	
	        padding: 7px 50px; 
	        margin: 0 0 0 -8px; 
	        color: #fff;
	        background: #594A36; 

	        -webkit-border-top-right-radius: 20px 40px;
	        -webkit-border-top-left-radius: 20px 40px;
	        -moz-border-radius-topleft: 20px 40px;
	        -moz-border-radius-topright: 20px 40px;
	
	        -webkit-box-shadow: inset 1px 1px 0 white;
	        -moz-box-shadow: inset 1px 1px 0 white;
	
	        border: 1px solid #a0a0a0;
	        border-bottom: 0;
        }


.no-list {
    list-style: none;
}
    .no-list li {
        display: inline;
    }

.successful-insert {
    font-weight:bold;
    color:#01c701;
}

.notspecified{
    font-style:italic;
}

.bold-italics{
    font-style:italic;
    font-weight:bold;
}

.field-cluster-header{
    font-size:1.2em;
}

.col-left{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.col-right{
    float: left;
    border-left: 1px solid #011C26;
    padding-left: 10px;
    left: -1px;
    position:relative;
}

.clear-both{
    clear:both;
}

.form-footer{
    border-top:3px solid #011C26;
    padding-top:10px;
}

.vertical-divider{
     border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     position:relative;
     float:right;
     left: -1px;
}

/* CRUD page styles */
.detail-field-header{
    display:inline;
    font-size:1.4em;
    border-bottom: 1px solid #011C26;
    padding-bottom: 1px;
}

.detail-field-value{
    padding-left:30px;
    margin-top:3px;
    font-size:1.1em;
}

/* Vendor / Product Line Specific
----------------------------------------------------------*/
.vendorproductline{
    font-style:italic;
    font-weight:bold;
    padding-left:20px;
}


/* Errors and Validation
----------------------------------------------------------*/
.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.required {
    color: red;
}

input.zip {
    width: 100px;
}
.VendorPhone {
    width: 100px;
}
.VendorWebSite {
    width: 350px;
}

.ItemAge {
    width: 25px;
}

.ItemPrice {
    width: 50px;
}

.ItemLegId {
    width: 75px;
}

.LabelRPC {
    width: 100px;
}
.LabelPrintCount {
    width: 35px;
}

#PhoneNumber {
    width: 100px;
}

input.state{
    width:30px;
}

.error-box {
    color: white;
    background-color: #011C26;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 350px;
    /*border: outset 5px white;
    border-radius: 7px;*/
}

.error-text {
    margin: 25px;
}

/* Styles to test new editor and display templates.
----------------------------------------------------------*/
.loud-1 {
    font-weight: bold;
    color: Red;
}
.loud-2 {
    font-size:  2.0em;
    color:Green;
}
.loud-3 {
    font-style: italic;
    color: yellow;
    background-color: blue;
}
#SuccessMessage {
    color: #01c701;
    font-weight: bold;
    font-size: 1.1em;
}

/*End test styles*/

/*Begin Pager styles*/
div.pager {
    text-align:right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

div.pager a{
    font-size: 1.1em;
    color: #624118;
    text-decoration:none;
    padding: 0 .4em 0 .4em;
}

div.pager a:hover{
    background-color:silver;
}

div.pager a.selected{
    background-color: #353535;
    color:white;
}

/* End pager styles*/

/* Start  rolodex styles */
div.roloLinks{
    border-top:none;
    border-bottom: 2px solid silver;
}
/* End rolodex styles */

/* Start search styles */
.searchTotal{
    font-size:.9em;
    font-style:italic;
    color:silver;

}