@model RecOutletWarehouse.Models.PurchaseOrder.PurchaseOrder
@{
    ViewBag.Title = "Create New Purchase Order";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Create a new Purchase Order</h2>
