@model RecOutletWarehouse.Controllers.PurchaseOrderController.PurchaseOrderCreationViewModel

@{
    ViewBag.Title = "POListAndSearch";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Browse / Search Purchase Orders</h2>
