@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Error</h2>

<div class="error-box">
    <h3 class="error-text">An error has occurred!</h3>
    <hr />
    <p class="error-text">We are sorry for the inconvenience. Please try to repeat the action again. If the problem persists, contact the site's administartor.</p>
</div>