@model RecOutletWarehouse.Controllers.EventController.ItemEventViewModel

@{
    ViewBag.Title = "AddItemsToEvent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Add Items to an Event</h2>

 @using (Ajax.BeginForm("ItemToEvent", new AjaxOptions { UpdateTargetId = "currentItems" })) {
    <fieldset>
        <legend>Information about the item</legend>
        <div>
            Add to Event:
        </div>
        <div>
            @Html.DropDownList("EventToAddTo", Model.Events)
        </div>
        <div>
            Item to add:
        </div>
        <div>
            @Html.TextBoxFor(model => model.ItemName)
        </div>
        <div>
            Original price:
        </div>
        <div>
            @Html.TextBoxFor(model => model.OrigPriceOfItem)
        </div>
        <div>
            Sale Price:
        </div>
        <div>
            @Html.TextBoxFor(model => model.SalePriceOfItem)
        </div>
        <input type="submit" value="Submit" />
    </fieldset>
}

<div id="currentItems">@{Html.RenderPartial("ItemToEvent", Model.SalePrices);}</div>

